image: node:v14.11.0
# build-job:
#   stage: build
#   script:
#     - echo "Hey, $GITLAB_USER_LOGIN! bhai"
stages:
  - build
  - deploy

test-job1:
  stage: build
  script:
    - yarn
    - yarn tsc
    - echo "tsc build sucessfully "
# deploy-prod:
#   stage: deploy
#   script:
#     - echo "deploys something from the $CI_COMMIT_BRANCH branch."
