stages:
  - build-base-image
  - build

build-base-image:
  stage: build-base-image
  image: docker:19.03.1
  services:
    - docker:19.03.1-dind
  before_script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
  script:
    - docker build -t ${CI_REGISTRY_IMAGE}/base:latest .
    - docker push ${CI_REGISTRY_IMAGE}/base:latest


assembleDebug:
  stage: build
  image: ${CI_REGISTRY_IMAGE}/base:latest
  before_script:
    - chmod +x ./android/gradlew
    - yarn
  script:
    - npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res
    - cd android
    - ./gradlew assembleRelease -x bundleReleaseJsAndAssets
    - cd ..
    - cp android/app/build/outputs/apk/release/app-release.apk app-release.apk
  artifacts:
    paths:
    - app-release.apk
